
h1 {
    font-size: 2rem;
    text-align: center;
}

.container {
    max-width: 1200px !important;
}

.content {
    margin: 4rem 0;
}

.card {
    margin: 1rem;
}

#accueil {
    color: black;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#products .card {
    max-width: 30% !important;    
}

#editproduct #photo {
    
    &>div {
        display: flex;
        align-items: flex-end;
        flex-wrap: wrap;
        margin: 1rem;
    }

    img {
        max-width: 300px;
    }

    input {
        width: 150px;
        border: 0;
        margin-left: 1rem;
    }

    .file {
        margin-left: 1rem;
    }
    
    span {
        padding-left: 1rem;
    }
}